<%= provide :page_title, I18n.t('pages.index.header') %>
<%= provide :breadcrumb do %>
    <li><%= I18n.t('activerecord.models.page.other') %></li>
<% end %>

<main id="main-container" style="min-height: 530px;">
  <div class="content bg-gray-lighter">
    <div class="row items-push">
      <div class="col-sm-7">
        <h1 class="page-heading">
          <%= t('pages.index.title') %>
        </h1>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="block">
      <div class="block-header text-right">
        <h3 class="block-title">
        </h3>
        <span>
          <%= link_to I18n.t('pages.new.new'), new_page_path, class: 'btn btn-sm btn-square btn-success' %>
        </span>
      </div>
      <div class="block-content">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= t('activerecord.attributes.page.name') %></th>
            <th><%= t('activerecord.attributes.page.permalink') %></th>
            <th class="text-center" style="width: 150px;"><%= t 'misc.actions' %></th>
          </tr>
          </thead>
          <tbody id='link_categories'>

          <% @pages.each do |page| %>
              <tr>
                <td><%= page.name %></td>
                <td><%= page.permalink %></td>
                <td>

                  <% if current_user and current_user.admin? %>
                      <%= page.decorate.link_to_visualizar %>
                      <%= page.decorate.link_to_editar %>
                      <%= page.decorate.link_to_excluir %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
